.navbar-dark {
    background: rgba(0, 0, 0, .2);
}


@media (max-width: 767px) {
    #navbarMenu {
        background: rgba(0, 0, 0, .8);
        padding: 0px;
    }
}

.navHomeScreen {
    position:absolute;
}

.navbar-dark img {
    width: 100%;
    padding-bottom: 10%;
    padding-left: 10%;
    margin-left: -1%;
    margin-top: 9%;
}


.navbar-dark .navbar-nav{
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-dark .navbar-nav .nav-link{
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.home-panel {
    background-color: #262428;
    width: 100%;
    overflow: hidden;
    margin-top: -6px;
    color: #999999;
    padding-bottom: 2%;
}

#homepanelImg1 {
    padding-top: 1%;
    width: 90%;
    border-radius: 10px;
}

#homepanelImg2 {
    width: 90%;
    border-radius: 10px;
}

.home-panel h1 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
}

.home-panel p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
}

@media (max-width: 767px) {
    .home-panel {
        margin-top: -1.5px;
    }
}

.container-fluid {
    overflow: hidden;
}

.navbar-toggler {
    margin-top: 1%;
    margin-bottom: 1%;
}

.carousel-item{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #303e50;
}
.carousel-item img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.video-background {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#bgvid {
    min-width: 100%;
    min-height: 100%;
    max-width: 100vw;
    padding-bottom: 0px;
    opacity: 80%;
    width: auto;
    height: auto;
    overflow: hidden;
}

body {
    background-color: #303e50;
}

#homeBody {
    background-color: #1B1A1D;
}

#contactBody {
    background-image: url("images/contactBG.jpg");
}

.contactLabels {
    color: #DDDDDD;
    text-align: center;
    padding-top: 3%;

}

.contactText {
    color: #DDDDDD;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: auto;
    border-radius: 10px;
}

.contactText ul {
    list-style: none;
    width: 85%;
    overflow-wrap: break-word;
    margin: auto;
    padding-bottom: 5%;
}

.contactForm {
    text-align: left;
    width: 70%;
    margin: auto;
    background-color: rgba(0, 0, 0, .5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 10px;
}


#contactSidePhoto {
    width: 100%;
}

@media (max-width: 767px) {
    .contactForm {
        width: 90%;
    }
}

#submitBtn {
    margin-bottom: 5%;
}

.caption {
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;
}

.caption h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .5rem;
}

.captionMobile {
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;
}

.captionMobile h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .5rem;
}

#getstartedBtn {
    border-width: medium;
    font-size: 1.1rem;
    padding: .6rem .8rem;
}

.mobileBG {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 80%;
}

.footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 100px 0;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: #1B1A1D;
    color:  #595959;
    text-align: center;
}

.footer-list {
    list-style: none;
    display: inline-block;
    margin-left: 45%;
}

.footer-list li {
    padding: 5px;
    float: left;
}

.footer-list a{
    color: inherit;
}

.footer-list a:hover {
    color:  #4d4d4d;
}

.footer-list h1 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-nav-list h1 {
    padding-bottom: 2px;
}

.footer-nav-list {
    list-style: none;
    display: inline-block;
    margin-right: 45%;
    line-height: 22px;
}

.footer-nav-list li a {
    color: inherit;
    text-decoration: none;
}

.footer-nav-list li a:hover {
    color: #4d4d4d;
}

.copyright-footer {
    padding-top: 15px;
}