.navbar-dark {
    background: rgba(0, 0, 0, .2);
}

@media (max-width: 767px) {
    #navbarMenu {
        background: rgba(0, 0, 0, .8);
        padding: 0px;
    }
}

.navHomeScreen {
    position:absolute;
}

.navbar-dark img {
    width: 70%;
    padding-bottom: 10%;
    padding-left: 10%;
    margin-left: 15%;
}


.navbar-dark .navbar-nav{
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-dark .navbar-nav .nav-link{
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.container-fluid {
    overflow: hidden;
}

.navbar-toggler {
    margin-top: 1%;
    margin-bottom: 1%;
}

.carousel-item{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #303e50;
}
.carousel-item img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.video-background {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#bgvid {
    min-width: 100%;
    min-height: 100%;
    max-width: 100vw;
    padding-bottom: 0px;
    opacity: 80%;
    width: auto;
    height: auto;
    overflow: hidden;
}

body {
    background-color: #303e50;
}

#homeBody {
    background-color: black;
}

.contactLabels {
    color: #DDDDDD;
    text-align: center;
    padding-top: 3%;

}

.contactText {
    color: #DDDDDD;
    text-align: center;
}

.contactText ul {
    list-style: none;
    width: 85%;
    overflow-wrap: break-word;
    margin: auto;
    padding-bottom: 5%;
}

.contactForm {
    text-align: left;
    width: 70%;
    margin: auto;
}


#contactSidePhoto {
    width: 100%;
}

@media (max-width: 767px) {
    .contactForm {
        width: 90%;
    }
}

#submitBtn {
    margin-bottom: 5%;
}

.caption {
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;
}

.caption h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .5rem;
}

.captionMobile {
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;
}

.captionMobile h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .5rem;
}

#getstartedBtn {
    border-width: medium;
    font-size: 1.1rem;
    padding: .6rem .8rem;
}

.mobileBG {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 80%;
}